#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.chat {
  height: 500px;
  overflow-y: scroll;
}

main {
  width: 50%;
  @media screen and (max-width: 1000px) {
    width: 60%;
  }
  @media screen and (max-width: 800px) {
    width: 80%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
